<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit_situation</title>
  <style>
    .one_situation_container {
      /* display: flex; */
      border: solid 1px gray;
      border-radius: 8px;
      padding: 8px;
      margin: 32px;
      background-color: rgb(194, 194, 194);
      /* justify-content: space-between; */
      /* align-items: center; */
    }
    .one_situation_container > .trigger_name {
      flex-grow: 1;
    }
    .one_situation_container > .trigger_edit_form {
      margin-left: 8px;
    }
    .situation_edit_button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
    .new_situation_container {
      margin-left: auto;
      margin-right: auto;
      width: 128px;
    }
    .situation_show_form {
      width: 100%;
    }
    .situation_show_button {
      background: none;
      border: none;
      cursor: pointer;
      text-align: left;
      width: 100%;
      padding: 0;
      font: inherit;
    }
  </style>
</head>
<body>
<h1>状況の編集画面</h1>
  <button type="button" onclick="history.back()">戻る</button>
  {% for situation in situations %}
    <div class="one_situation_container">
      <form method="get" action="edit_message" class="situation_show_form">
        <input type="hidden" name="trigger_id" value="{{trigger_id}}">
        <input type="hidden" name="situation_id" value="{{situation.id}}">
        <button type="submit" class="situation_show_button">{{ situation.situation_name }}</button>
      </form>
    </div>
  {% endfor %}
  <form method="get" action="/add_situation" class="new_situation_container">
    <input type="hidden" name="trigger_id" value="{{trigger_id}}">
    <button>+ 新規状況追加</button>
  </form>
</body>
</html>`