<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>edit_situation_message</title>
  <style>
    .one_message_container {
      display: flex;
      border: solid 1px gray;
      border-radius: 8px;
      padding: 8px;
      margin: 32px;
      justify-content: space-between;
      align-items: center;
    }
    .one_message_container > .message_name {
      flex-grow: 1;
    }
    .one_message_container > .message_edit_form {
      margin-left: 8px;
    }
    .message_edit_button {
      /* background: none; */
      border: none;
      cursor: pointer;
      font-size: 12px;
    }
    .new_message_container {
      margin-left: auto;
      margin-right: auto;
      width: 140px;
    }
    .message_show_form {
      width: 100%;
    }
    .message_show_button {
      background: none;
      border: none;
      cursor: pointer;
      text-align: left;
      width: 100%;
      padding: 0;
      font: inherit;
    }
  </style>
</head>
<body>
  {% for message in messages %}
    <div class="one_message_container">
        <form method="get" action="http://localhost:8080/show_situation"  class="message_show_form">
          <input type="hidden" name="message_id" value="{{message.id}}">
          <button type="submit" class="message_show_button">{{ message.message }}</button>
        </form>
        <form method="get" action="http://localhost:8080/edit_situation" class="message_edit_form">
          <input type="hidden" name="message_id" value="{{message.id}}">
          <button type="submit" class="message_edit_button">更新</button>
        </form>
        <form method="get" action="http://localhost:8080/edit_situation" class="message_edit_form">
          <input type="hidden" name="message_id" value="{{message.id}}">
          <button type="submit" class="message_edit_button">削除</button>
        </form>
        <br>
    </div>
  {% endfor %}
  <form action="http://localhost:8080/add_message" method="get" class="new_message_container">
    <button type="submit">＋新規テキスト登録</button>
  </form>
</body>
</html>