<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show_message</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh; */
            margin: 16% 0;
        }
        .chat-container {
            /* width: 300px; */
            width: 80%;
            /* border: 2px solid #ffff00; */
            border-radius: 10px;
            padding: 20px;
            /* background-color: #2d2d2d; */
        }
        .message {
            margin-bottom: 14px;
            /* max-width: 80%; */
            /* border: solid gray 1px; */
            border-radius: 12px;
        }
        .left {
            align-self: flex-start;
        }
        .right {
            align-self: flex-end;
            text-align: right;
        }
        .chat_box {
            border-radius: 16px;
            padding: 8px 12px;
            display: inline-block;
        }
        .left .chat_box {
            border: solid rgb(192, 192, 192) 1px;
        }f
        .right .chat_box {
            background-color:honeydew;
            border: solid rgb(192, 192, 192) 1px;

        }
        .input-container {
            display: flex;
            margin-top: 80px;
        }
        input[type="text"] {
            flex-grow: 1;
            padding: 8px;
            border-radius: 5px 0 0 5px;
        }
        button {
            padding: 8px 12px;
            /* border: none; */
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="chat-container">
        <button type="button" onclick="history.back()">戻る</button>
        <hr>
            {# {% for message in messages %} #}
            <div id="chat-root">
                {# <div class="message left"> #}
                    {# <div class="chat_box">{{ message.message }}</div> #}
                {# </div> #}
                {# <div class="message right">
                    <div class="chat_box">ないです</div>
                </div> #}
            {# {% endfor %} #}
            </div> 
            <div class="input-container">
                <input type="text" placeholder="入力..." id="reply-text">
                <button onclick="showMessage()">→</button>
            </div>
    </div>
    <script type="text/javascript">
        const chatRoot = document.getElementById('chat-root')
        const replyText = document.getElementById('reply-text')

        // convert PHP array to JavaScript array
        const messageList = {{ messages|json_encode|raw }}
        const max = {{ messages|length }}

        let index = 0
        const showMessage = () => {
            const reply = replyText.value
            if (reply === '') {
                return
            }
            appendReply(reply)
            replyText.value = ''

            if (index >= max) {
                return
            }
            const message = messageList[index].message
            appendMessage(message)
            index += 1
        }
        // 左に助言を一つ表示する
        const appendMessage = (message) => {
            const left = document.createElement('div')
            left.className = 'message left'
            const chatBox = document.createElement('div')
            chatBox.className = 'chat_box'
            chatBox.textContent = message
            left.appendChild(chatBox)
            chatRoot.appendChild(left)
        }
        // 右に返答を一つ表示する
        const appendReply = (reply) => {
            const right = document.createElement('div')
            right.className = 'message right'
            const chatBox = document.createElement('div')
            chatBox.className = 'chat_box'
            chatBox.textContent = reply
            right.appendChild(chatBox)
            chatRoot.appendChild(right)
        }
        appendMessage(messageList[index].message)
        index += 1
    </script>  
</body>
</html>