<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>show_trigger</title>
  <style>
    .one_trigger_container {
      display: flex;
      border: solid 1px gray;
      border-radius: 8px;
      padding: 8px;
      margin: 32px;
      justify-content: space-between;
      align-items: center;
    }
    .one_trigger_container > .trigger_name {
      flex-grow: 1;
    }
    .one_trigger_container > .trigger_edit_form {
      margin-left: 8px;
    }
    .trigger_edit_button {
      /* background: none; */
      border: none;
      cursor: pointer;
      font-size: 18px;
    }
    .new_trigger_container {
      margin-left: auto;
      margin-right: auto;
      width: 96px;
    }
    .trigger_show_form {
      width: 100%;
    }
    .trigger_show_button {
      background: none;
      border: none;
      cursor: pointer;
      text-align: left;
      width: 100%;
      padding: 0;
      font: inherit;
    }
  </style>
</head>
<body>
  <div class="one_trigger_container">
    <form action="#" method="get" class="trigger_show_form">
      <button type="submit" class="trigger_show_button">田中先輩</button>
    </form>
    <form action="#" method="get" class="trigger_edit_form">
      <button type="submit" class="trigger_edit_button">:</button>
    </form>
  </div>
  <div class="one_trigger_container">
    <form action="#" method="get" class="trigger_show_form">
      <button type="submit" class="trigger_show_button">山本先輩</button>
    </form>
    <form action="#" method="get" class="trigger_edit_form">
      <button type="submit" class="trigger_edit_button">:</button>
    </form>
  </div>
  <form action="#" method="post" class="new_trigger_container">
    <button type="submit">新規人物追加</button>
  </form>
</body>
</html>